*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --p-color:#d62828;
  --s-color:#f77f00;
  --text-color:#ffffff;
  --textR-color:#1e1e1e;
  --textS-color:#ffffff;
  --bgm-color: #1e1e1e;
  --main-color:#272727;
  --sec-color:#181818;
  --mainR-color:#ede6d9;
  --sub-color:#747474;
  --cl1-color:#444444;
  --cl2-color:#313131;
  --cl3-color:#959595;
  --mode-color:#ffa600;
  --glow:rgb(255, 115, 0);
  --text-shadow: 0 0 10px #ffc400;
  --t-color:#fcbf49;
  --gradient-bg:
  linear-gradient(127deg, var(--main-color), rgba(0, 0, 0, 0) 80.71%),
  linear-gradient(217deg, var(--main-color), rgba(0, 0, 0, 0) 80.71%),  
  url('');
  --transition: 0.30s ease-in-out;
  
}

#_body{
  font-family: 'Roboto', sans-serif;  
  background-color: var(--sec-color);
  
}

.transitionFx{
  transition: 1.8s ease-in-out;
}

.form-range{
  width: 100% !important;
}

a{color: #fff; text-decoration: none !important}
li{list-style: none;}

#blank-page{min-height:50vh;max-width: 100vmax;}

.c-pointer{
  cursor: pointer;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

#profile{
  display: flex;
  margin: auto !important;
  align-items: center;
  align-content: center;
}

#profile_img{
  width: 40vh;
  height: 45vh;
  padding: 20px 0px;
  border-radius: 20%;
  margin: auto;
  align-items: center;
  align-content: center;
}

#profile_thumbnail{
  width: 40vh;
  height: 45vh;
  padding: 20px 0px;
  border-radius: 20%;
  margin: auto;
  align-items: center;
  align-content: center;
}


#admin-dashboard, #userview, #profile, #add-product, .product-view{
  min-height:100vh; max-width: 100vmax;
  padding-top: 20px;
  align-items: center;
  align-content: center;
}
#product-card{
  align-items: center;
  align-content: center;
}

#products {
  min-height:100vh; max-width: 100vmax;
  align-items: center;
}

#cart {
  min-height:100vh; max-width: 100vmax;
  align-items: center;
}

#display{
  min-height:50vh; max-width: 100vmax;
  align-items: center;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.textuppercase{ text-transform: uppercase;}

/**
* !STRONG TEXT FX
**/

.textfxa{
  color: var(--mainR-color);
  text-shadow: 0 0 20px var(--s-color);
}

.textfxb{
  color: var(--mode-color);
  text-shadow: 0 0 20px var(--mainR-color);
}

.textfx{
  text-transform: uppercase;
  font-size: 3.2vh;
  color: var(--mainR-color);
  text-shadow: 0 0 20px var(--s-color);
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.banner{
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 900;
  font-size:  10.1vw;
  font-family: 'Roboto', sans-serif;
}

.logo, .logo .bowl-rice{
  color: var(--mode-color);
  text-shadow: 0 0 10px var(--glow);
  font-weight: 600;
  cursor: pointer;
  font-size:  3.2vh;
  text-transform: uppercase;
}

.productHighlight {
  min-height: 100%;
}

.productHighlight .desc{
  height: 20px;
}

#tabs .nav-link.active {
  color: var(--main-color) !important;
  background-color: var(--mode-color) !important;
  font-weight: 400;
  transition: 0.6s ease-in-out;
}

#tabs .nav-link {
  color: white !important;
  background-color: var(--textR-color) !important;
  font-weight: 400;
  transition: 0.6s ease-in-out;
}

.nav-link {
  color: white !important;
  background-color: none !important;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.nav-link.active{
  color: var(--mode-color) !important;
  background-color: none !important;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.ellipsis {
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden; /* keeps the element from overflowing its parent */
}

#landing{
  color: #fff;
  min-height: 100vh;
  max-width: 100vmax;
  background-color: var(--bgm-color);
}

#banner{
  background: var(--gradient-bg), url('https://m-dorio.github.io/foodstore/images/landing-ramen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  min-height: 25vh;
  max-width: 100vmax;

}
